In [2]:
# Dependencies
import pandas as pd
import plotly.express as plt
from scipy.stats import linregress
import os
import statsmodels.api as sm

In [3]:
bikecounts_file = os.path.join('../','Resources', 'bikecounts.csv')
bikecounts_df = pd.read_csv(bikecounts_file)
bikecounts_df['Day'] = pd.to_datetime(bikecounts_df['Day'])
bikecounts_df["Precipitation"]=bikecounts_df["Precipitation"].apply(lambda x :float(x) if type(x) != type("") else x)
bikecounts_df.head(20)

,Unnamed: 0,Date,Day,High Temp (°F),Low Temp (°F),Precipitation,Brooklyn Bridge,Manhattan Bridge,Williamsburg Bridge,Queensboro Bridge,Total
0,0,2016-04-01,2016-04-01,78.1,66.0,0.01,1704.0,3126,4115.0,2552.0,11497
1,1,2016-04-02,2016-04-02,55.0,48.9,0.15,827.0,1646,2565.0,1884.0,6922
2,2,2016-04-03,2016-04-03,39.9,34.0,0.09,526.0,1232,1695.0,1306.0,4759
3,3,2016-04-04,2016-04-04,44.1,33.1,0.47 (S),521.0,1067,1440.0,1307.0,4335
4,4,2016-04-05,2016-04-05,42.1,26.1,0,1416.0,2617,3081.0,2357.0,9471
5,5,2016-04-06,2016-04-06,45.0,30.0,0,1885.0,3329,3856.0,2849.0,11919
6,6,2016-04-07,2016-04-07,57.0,53.1,0.09,1276.0,2581,3282.0,2457.0,9596
7,7,2016-04-08,2016-04-08,46.9,44.1,0.01,1982.0,3455,4113.0,3194.0,12744
8,8,2016-04-09,2016-04-09,43.0,37.9,0.09,504.0,997,1507.0,1502.0,4510
9,9,2016-04-10,2016-04-10,48.9,30.9,0,1447.0,2387,3132.0,2160.0,9126
10,10,2016-04-11,2016-04-11,62.1,46.0,0.01,2005.0,3791,4334.0,3182.0,13312
11,11,2016-04-12,2016-04-12,57.0,45.0,0.2,1045.0,2178,2762.0,2082.0,8067
12,12,2016-04-13,2016-04-13,57.0,39.9,0,2840.0,5395,5995.0,4192.0,18422
13,13,2016-04-14,2016-04-14,62.1,44.6,0,2861.0,5309,6030.0,4115.0,18315
14,14,2016-04-15,2016-04-15,64.0,44.1,0,2770.0,5072,5816.0,3912.0,17570
15,15,2016-04-16,2016-04-16,66.0,45.0,0,2384.0,4316,5624.0,4051.0,16375
16,16,2016-04-17,2016-04-17,73.9,46.0,0,3147.0,4969,5867.0,4197.0,18180
17,17,2016-04-18,2016-04-18,81.0,52.0,0,3871.0,6823,7432.0,4964.0,23090
18,18,2016-04-19,2016-04-19,71.1,63.0,0,3501.0,6951,7834.0,5032.0,23318
19,19,2016-04-20,2016-04-20,68.0,50.0,0,3450.0,6574,7639.0,4928.0,22591

In [5]:
#null Hypothesis
#there is no difference between the temperture and the amount of people riding the Brooklyn Bridge.
X = bikecounts_df[["High Temp (°F)","Low Temp (°F)"]]
y = bikecounts_df[["Brooklyn Bridge"]]
X = sm.add_constant(X)
model = sm.OLS(y, X)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:        Brooklyn Bridge   R-squared:                       0.612
Model:                            OLS   Adj. R-squared:                  0.583
Method:                 Least Squares   F-statistic:                     21.27
Date:                Fri, 08 Oct 2021   Prob (F-statistic):           2.84e-06
Time:                        20:05:38   Log-Likelihood:                -234.97
No. Observations:                  30   AIC:                             475.9
Df Residuals:                      27   BIC:                             480.1
Df Model:                           2
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
const          -1478.9205    653.710     -2.262      0.032   -2820.222    -137.619
High Temp (°F)    97.4074     18.563      5.247      0.000      59.319     135.496
Low Temp (°F)    -46.3743     21.800     -2.127      0.043     -91.104      -1.645
==============================================================================
Omnibus:                        0.974   Durbin-Watson:                   1.306
Prob(Omnibus):                  0.615   Jarque-Bera (JB):                0.809
Skew:                          -0.047   Prob(JB):                        0.667
Kurtosis:                       2.201   Cond. No.                         432.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [ ]:
#Analysis:
# We reject the null hypothesis as the P_Value for low Tempture has a P_Value of .043 
# As there is strong evidence that the null hypothesis is invalid
# Another thing to note that there is also a medium correlation between the data with a  adj R^2 value of .583